img{
    padding: 5px;
}

h2{
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

.center{
    color: #A9E023;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    display: inline-block;
    margin: 15px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {   
    padding: 20px;
}